
body {
    font-family: 'raleway', sans-serif;
    background: #1D3059;
}

container {
    max-width: 1200px;
    margin: 0 auto;
}

main {
    background-color: #fff;
}
section {
    max-width: 1200px;
    margin: 0 auto;
}


header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), 
    url("../images/edinburgh-city.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    padding: 200px 0;
}

header h1 {
    font-size: 96px;
    font-weight: 700;
    margin: 0;
    padding: 20px 0px 30px;
    letter-spacing: 3px;
}

header h2 {
    font-size:36px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
}

header h3 {
font-size: 22px;
letter-spacing: 7px;
margin: 0;
line-height: 1.5;
}

header a {
text-decoration: none;
color: #1D3059;
margin-top: 30px;
padding: 15px 25px;
background: white;
display: inline-block;
opacity: 0.8;
font-weight: 600;
border: 1px solid #1D3059;
border-radius: 2px;
}

main {
    padding: 30px;

}
main p {
    font-size: 18px;
    line-height: 1.5;
}

main h3 {
    font-size: 28px;
}

.img-size {
    width:500px;
}

.img-responsive {
    max-width: 100%;
}

.grid-col-2{
 grid-template-columns: 1fr 1fr;
}

.grid {
    display: grid;
    grid-gap: 15px;
}

footer {
    color: white;
    background-image: linear-gradient(rgba(29, 48, 89, 0.9), rgba(29,48,89,0.9)),
    url("../images/edinburgh-footer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0;
}

footer h4 {
    opacity: 0.9;
}

footer ul {
    padding: 0;
}

footer li {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}
footer a {
    color: #fff;
    opacity: 0.7;
}

footer p {
    line-height: 1.5;
    font-size: 16px;
    opacity: 0.7;
    font-weight: 400;
}

.gird-col-3 {
grid-template-columns: 1fr 2fr 2fr;

}

@media (max-width: 768px) {
    header h1 {
        font-size: 50px;
        padding: 10px 0;
        letter-spacing: 6px;
    }
    header h2 {
        font-size: 26px;
        font-weight: 300;
    }

    header h3 {
        font-size: 11px;
    }
    header a { 
        font-size: 14px;
        padding: 10px 15px;
    }

    .grid-col-2, .gird-col-3 {
        grid-template-columns: 1fr;
    }
}